<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            [routerLink]="['/home']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item" *ngIf="IsLogin()">
          <a
            class="nav-link"
            [routerLink]="['/products']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Products</a
          >
        </li>
        <li class="nav-item" *ngIf="IsLogin() && IsAdmin()">
          <a
            class="nav-link"
            [routerLink]="['/products/add']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Add Product</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/contacts']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact Us</a
          >
        </li>
        <li class="nav-item" *ngIf="!IsLogin()">
          <a
            class="nav-link"
            [routerLink]="['/login']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
        <li class="nav-item" *ngIf="!IsLogin()">
          <a
            class="nav-link"
            [routerLink]="['/register']"
            [routerLinkActive]="'active'"
            [routerLinkActiveOptions]="{ exact: true }"
            >Register</a
          >
        </li>
        <li class="nav-item" *ngIf="IsLogin()">
          <a class="nav-link" (click)="LogOut()">Logout</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
